@font-face {
    font-family: 'Open Sans Condensed';
    src: url('./OpenSansCondensed-Regular.ttf') format('truetype');
    /* You may need to adjust the URL to match the correct path to your font file */
    font-weight: normal;
    font-style: normal;
  }